<!-- <form> -->
  <div class="Updatee">
    <input [(ngModel)] = "p.name"   class="form-control m-2"  type="text" placeholder="Name">
    <input [(ngModel)] = "p.price"   class="form-control m-2"  type="number|text" placeholder="price">
    <input [(ngModel)] = "p.imageUrl"   class="form-control m-2"  type="text" placeholder="imageUrl">
    <input [(ngModel)] = "p.rating"   class="form-control m-2"  type="number" placeholder="rating">
    <input [(ngModel)] = "p.discount"   class="form-control m-2"  type="number|text" placeholder="discount">
    <input [(ngModel)] = "p.category"  class="form-control m-2"  type="text" placeholder="category">
    <input [(ngModel)] = "p.color"   class="form-control m-2"  type="text" placeholder="color">
    <input [(ngModel)] = "p.quantity"  class="form-control m-2"  type=" number|text" placeholder="quantity">
    <input [(ngModel)] = "p.size"   class="form-control m-2"  type="text" placeholder="size">
  <input (click)="OnClick()" type="submit" value="Update Product" class="btn">
  <!-- </form> -->
  </div>